body{
    background-color: rgb(244, 231, 216);
}
h1 {
    text-align: center;
}
img {
display: block;
margin: auto;
border: solid 2px rgb(61, 33, 1);
border-radius: 6px;
padding: 10px;
}
p {
    padding: 20px;
    margin: 10px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}
.links {
    display: flex;
    margin-top: 40px;
    color: rgb(86, 52, 1);
}
.centredlinks{
    justify-content: center;
    font-size: 25px;
}
.links:hover {
    text-decoration: underline;
    color: rgb(194, 117, 0);
}
.rowphotos {
    display: flex;
    justify-content: center;
}

.navigation-links {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.navigation-links a {
    margin: 10px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
}

.contact-link {
    background: rgb(244, 154, 70);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    color: white;
}