:root{
    --background-color:rgb(244, 231, 216);
    --dark-color: rgb(154, 92, 1);
    --background-darker-color: rgb(244, 154, 70);
    --background-dark-light-color: rgb(255, 234, 214);
    --border-color: rgb(61, 33, 1);
    --heading-font-family:'Alfa Slab One', cursive;
    --paragraf-font-family: 'Acme', sans-serif;
    --box-shadow: 1px 1px 22px 8px rgba(0, 0, 0, 0.5);
    --button-shadow:0 5px 10px rgba(0, 0, 0, 0.5);
}

body {
    background-color: var(--background-color);
    margin: 30px 30px;
    padding: 30px 30px;
   }
h1 {
    padding: 10px;
    text-align: center;
    font-family: var(--heading-font-family);
}
h2 {
    text-align: center;
    font-family: var(--heading-font-family);
}
h3{
    font-family: var(--paragraf-font-family);
    font-size: 30px;
    color: var(--border-color);
}
img {
  display: block;
  margin: 20px auto;
  border: solid 2px var(--border-color);
  border-radius: 6px;
  padding: 10px;
}
p {
    margin: 0px 35px 0px 35px;
    font-size: 18px;
    font-family:var(--paragraf-font-family);
    line-height: 30px;
    text-align: left;
}
li {
    list-style: none;
    display: flex;
    justify-content: center;
    border: 2px solid var(--border-color);
   }
.linkwikipedia {
    color: var(--dark-color);
    font-family: var(--paragraf-font-family);
   }
.linkwikipedia :hover {
    text-decoration: none;
    color: var(--background-darker-color);
   }
.page {
    box-shadow: var(--box-shadow);
    color: black;
    max-width: 700px;
    margin: 0px 0px;
    padding: 0px 0px;
    border-radius: 9px;
}
.contactmelink {
    justify-content: center;
    font-size: 25px;
    color:black;
    font-family: var(--paragraf-font-family);
   }
.space :hover{
    text-decoration: none;
    color: var(--dark-color);
       }
.space {
    display: block;
    margin: 50px auto;
    font-size: 25px;
  }
.links {
display: block;
margin: auto;
margin-top: 10px;
margin-bottom: 40px;
}
.navigation-links a {
    margin: 10px;
    border-radius: 4px;
    padding: 10px 10px;
    text-decoration: none;
    background: var(--background-darker-color);
    color: white;
    box-shadow: var(--button-shadow);
    font-family: var(--paragraf-font-family);
}
.navigation-links :hover {
  text-decoration: none;
  background:var(--dark-color);
}
 .section {
    display: flex;
    margin: 25px auto;
    padding: 15px;
    background-color: var(--background-dark-light-color);
    border-radius: 25px;
  }
.image {
    max-width: 100%;
    height: auto;
}
.header{
    font-family: var(--paragraf-font-family);
    font-size: 30px;
    color: var(--border-color);
    }
.paragraph {
    font-size: 20px;
    font-family: var(--paragraf-font-family);
    line-height: 30px;
    text-align: left;
}
.list {
    margin-left: 50px;
    font-size: 34px;
    opacity: 50%;
    font-family: var(--heading-font-family);
}
@media (max-width:800px) {
    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 14px;
        opacity: 0.7;
    }
    p {
        margin: 0px 15px 0px 15px;
        font-size: 12px;
        line-height: 1.5;
    }
    .links {
    font-size: 10px;
    }
    .space {
    font-size: 15px;
    }
}